# =========
# Build
# =========
/target/
*.class

# =========
# Maven wrapper (keep jar if you use wrapper)
# =========
!.mvn/wrapper/maven-wrapper.jar

# =========
# IDEs
# =========
# IntelliJ IDEA
/.idea/
*.iml
*.iws

# Eclipse
/.classpath
/.project
/.settings/

# VS Code
/.vscode/

# NetBeans
/nbproject/
/nbactions.xml

# =========
# OS files
# =========
.DS_Store
Thumbs.db

# =========
# Logs
# =========
*.log
logs/

# =========
# Spring Boot local config (secrets)
# =========
src/main/resources/application.yml
src/main/resources/application-*.yml